body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

main{
    flex-grow: 1;
}
.encabezado{
    background-color: rgb(5, 5, 62);
}
#fecha, #hora{
background-color: rgb(6, 6, 32);



}
p{
    color: beige;
}
